.shadow {
  box-shadow: 0 2px 15px rgb(0 0 0 / 68%);
}

/* Chat List */
.ce-wrapper {
  background-color: #161616 !important;
}

.ce-chats-container {
  background-color: #161616 !important;
  border-radius: 0px !important;
}

.ce-chat-form-container {
  background-color: #161616 !important;
  background: linear-gradient(95.41deg, #2c0aff -0.18%, #eb00ff 99.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.ce-chat-card {
  margin: 0px 6px !important;
}

.ce-chat-card-loading-bar {
  background-color: #161616 !important;
}

.ce-active-chat-card {
  background: linear-gradient(95.41deg, #2c0aff -0.18%, #eb00ff 99.82%);
}

.ce-chat-title-text {
  color: white !important;
}

.ce-chat-subtitle-text {
  color: #ffffff;
}

.ce-chat-unread-dot {
  background: linear-gradient(95.41deg, #2c0aff -0.18%, #eb00ff 99.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Chat Feed */

.ce-chat-title-container {
  background-color: #161616 !important;
  border-radius: 0px !important;
}

.ce-chat-feed-container {
  background-color: #161616 !important;
}

.ce-primary-button {
  background: linear-gradient(
    95.41deg,
    #2c0aff -0.18%,
    #eb00ff 99.82%
  ) !important;
}

.ce-message-date-text {
  background: linear-gradient(95.41deg, #2c0aff -0.18%, #eb00ff 99.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text !important;
}

.ce-my-message-bubble {
  background: linear-gradient(95.41deg, #2c0aff -0.18%, #eb00ff 99.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text !important;
}

.ce-my-message-sinding-bubble {
  background: linear-gradient(
    95.41deg,
    #2c0aff -0.18%,
    #eb00ff 99.82%
  ) !important;
}

.ce-my-message-timestamp {
  color: #9a97fc !important;
}

.ce-their-message-timestamp {
  background: linear-gradient(95.41deg, #2c0aff -0.18%, #eb00ff 99.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text !important;
}

#ce-send-message-button {
  background: linear-gradient(
    95.41deg,
    #2c0aff -0.18%,
    #eb00ff 99.82%
  ) !important;
}

#ce-ice-breaker-gif {
  max-width: 115px !important;
  margin-top: 30px !important;
}

.ce-social-message-form {
  background-color: #161616 !important;
}

.ce-message-input-form {
  padding-bottom: 10px !important;
  background-color: #161616 !important;
}

#msg-textarea {
  width: calc(100% - 140px) !important;
  position: relative !important;
  top: 4px !important;
  border-width: 0px !important;
  background-color: #161616 !important;
  background: linear-gradient(95.41deg, #2c0aff -0.18%, #eb00ff 99.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
#msg-textarea::placeholder {
  background: linear-gradient(95.41deg, #2c0aff -0.18%, #eb00ff 99.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text !important;
}

#ce-upload-document-icon {
  color: white !important;
}

.ce-feed-container-bottom {
  height: "44px";
}

.ce-message-images-row {
  background-color: #161616 !important;
}

.ce-their-message-sender {
  background: linear-gradient(95.41deg, #2c0aff -0.18%, #eb00ff 99.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text !important;
}

.ce-their-message-bubble {
  background-color: #161616 !important;
  background: linear-gradient(95.41deg, #2c0aff -0.18%, #eb00ff 99.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text !important;
}

/* Chat Settings */

.ce-settings {
  background-color: #161616 !important;
  border-radius: 0px !important;
}

.ce-chat-title-form .ce-text-input {
  background-color: #161616;
  background: linear-gradient(95.41deg, #2c0aff -0.18%, #eb00ff 99.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.ce-section-title-container {
  background-color: #161616 !important;
  background: linear-gradient(95.41deg, #2c0aff -0.18%, #eb00ff 99.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#ce-options-drop-down {
  background-color: #161616 !important;
  background: linear-gradient(95.41deg, #2c0aff -0.18%, #eb00ff 99.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.ce-person-text {
  background: linear-gradient(95.41deg, #2c0aff -0.18%, #eb00ff 99.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.ce-danger-button {
  background-color: #161616 !important;
  border: 1px solid #ac54d4 !important;
  color: #ac54d4 !important;
}

.ce-autocomplete-close {
  background-color: #ffffff !important;
  border-radius: 0px !important;
}
