.chatMain {
  background-color: #0c0c0c;
  padding: 0rem, 1.5rem;
  min-width: 100%;
  display: block;
  justify-content: center;
}

.chatBox {
  background-color: #161616;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  padding: 2rem;
}

.chatText {
  background-color: #161616;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  width: 50%;
}

.chatLogo {
  padding: 0rem, 1.25rem;
  display: flex;
  justify-content: center;
  width: 50%;
  color: linear-gradient(95.41deg, #2c0aff -0.18%, #eb00ff 99.82%);
}
