html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: #0c0c0c;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Calendar Component Styling */
.calendarDays {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 9px 0px;
}

.calendarDays span {
  padding: 7px 0px;
}

.calendarDaysSelected span {
  padding: 7px;
}

.calendarDaysSelected {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 9px 3px;

  border-radius: 50px;
  border: 1px solid #eb00ff;
}

.calendarDate {
  padding: 10px 12px;
}

.calendarDateSelected {
  background: linear-gradient(133.51deg, #2c0aff 0.66%, #eb00ff 100.66%);
  border-radius: 100px;
  padding: 10px 12px;

  width: 100%;
  text-align: center;
}

/* Chat Stylings */

.anticon {
  color: white !important;
}

/* My Chats Page */

.ce-chats-container {
  background-color: #161616 !important;
  border-radius: 0px !important;
}

.ce-chat-form-container {
  background-color: #0c0c0c !important;
  color: whitesmoke !important;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  margin-bottom: 1rem;
}

.ce-chat-form-container button {
  background: linear-gradient(
    128.51deg,
    #ff00e5 9.11%,
    #2c0aff 89.13%
  ) !important;
}

.ce-chat-card {
  background-color: #0c0c0c !important;
  border-radius: 20px !important;
  margin: 1rem 0.5rem;
  color: white !important;
  border: none !important;
}

.ce-chat-card.ce-active-chat-card {
  background: linear-gradient(
    128.51deg,
    #ff00e5 9.11%,
    #2c0aff 89.13%
  ) !important;
}

/* Chat Feed */

.ce-chat-feed-container {
  background-color: #161616 !important;
}

.ce-chat-title-container {
  color: white !important;
  background-color: #0c0c0c !important;
}

.ce-message-date-text {
  color: whitesmoke !important;
}

.ce-their-message-sender {
  color: whitesmoke !important;
}

.ce-message-bubble {
  background-color: #0c0c0c !important;
  color: white !important;
}

.ce-message-bubble.ce-my-message-bubble {
  background: linear-gradient(
    128.51deg,
    #ff00e5 9.11%,
    #2c0aff 89.13%
  ) !important;
}

.ce-message-input-form {
  background-color: #161616 !important;
}

.ce-message-input-form textarea {
  color: white !important;
  background-color: #161616 !important;
  border: none !important;
}

.ce-message-input-form button {
  background: linear-gradient(
    128.51deg,
    #ff00e5 9.11%,
    #2c0aff 89.13%
  ) !important;
}

.ce-chat-unread-dot {
  background-color: white !important;
}

/* Chat Settings */
.ce-settings {
  background-color: #161616 !important;
}

.ce-chat-title-form {
  margin-bottom: 0.75rem !important;
}

.ce-input.ce-text-input {
  background: linear-gradient(
    128.51deg,
    #ff00e5 9.11%,
    #2c0aff 89.13%
  ) !important;

  color: white !important;
}

.ce-section-title {
  color: white !important;
}

.ce-section-title:hover {
  background: linear-gradient(
    128.51deg,
    #ff00e5 9.11%,
    #2c0aff 89.13%
  ) !important;
}

.ce-section-title:focus {
  background: linear-gradient(
    128.51deg,
    #ff00e5 9.11%,
    #2c0aff 89.13%
  ) !important;
}

.ce-person-container {
  color: white !important;
}

#ce-add-username-input {
  background-color: #0c0c0c !important;
  color: white !important;
  border: none !important;
}

#ce-options-drop-down {
  color: white !important;
}

#ce-options-drop-down:hover {
  background: linear-gradient(
    128.51deg,
    #ff00e5 9.11%,
    #2c0aff 89.13%
  ) !important;
}

#ce-options-drop-down:focus {
  background: linear-gradient(
    128.51deg,
    #ff00e5 9.11%,
    #2c0aff 89.13%
  ) !important;
}

/* Mobile Chat Feed */

.ce-chat-title {
  background-color: #0c0c0c !important;
}

.ce-chat-list-mobile-option > div > div > div {
  background-color: #0c0c0c !important;
  color: white !important;
  border: none !important;
}

.ce-chat-settings-mobile-option > div > div > div {
  background-color: #0c0c0c !important;
  color: white !important;
  border: none !important;
}

/* Connecting Button Styles */

#ce-connecting-popup {
  background: linear-gradient(
    128.51deg,
    #ff00e5 9.11%,
    #2c0aff 89.13%
  ) !important;
}
