html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: #0c0c0c;

  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Calendar Component Styling */
.calendarDays {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0rem;
  border-radius: 50px;
  flex: 1;
}

.calendarDaysSelected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0rem;
  border-radius: 50px;
  flex: 1;

  border: 1px solid #eb00ff;
}

.calendarDate {
  padding: 10px 12px;
  gap: 10px;
}

.calendarDateSelected {
  padding: 10px 12px;
  gap: 10px;

  background: linear-gradient(133.51deg, #2c0aff 0.66%, #eb00ff 100.66%);
  border-radius: 50%;
}
