.chatMain {
  background-color: #0c0c0c;
  padding: 1rem 0rem;
  width: 100%;
  display: block;
  justify-content: center;
}

.chatBox {
  background-color: #161616;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  padding: 2rem;
}

.chatText {
  background-color: #161616;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  width: 50%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}

.chatLogo {
  padding: 0rem, 1.25rem;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  width: 50%;
  background: linear-gradient(95.41deg, #2c0aff -0.18%, #eb00ff 99.82%);
  font-family: "Montserrat", sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
