.gymTimeContainer {
  padding: 1rem 0rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.gymTime {
  background-color: #161616;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  padding: 2rem;
}

.gymTimeText {
  background-color: #161616;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  width: 50%;
  font-weight: 700;
  font-size: 1.25rem;
  flex: 1;
}

.gymTimeInput {
  padding: 0rem, 1.25rem;
  display: flex;
  justify-content: center;
  background: linear-gradient(95.41deg, #2c0aff -0.18%, #eb00ff 99.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  flex: 1;
}

.gymTimeInput input {
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}
