.headerContainer {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.5rem 0.625rem;
  gap: 2.625rem;
  color: rgb(240, 240, 240);
}

.userContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
}
.userContainer span {
  display: block;
  font-size: 1rem;
}
