.headerContainer {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.5rem 0.625rem;
  gap: 2.625rem;
  color: rgb(240, 240, 240);
}

.userContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
}
.userContainer span {
  display: block;
}

.userNameText {
  font-weight: 700;
  font-size: 1.25rem;

  background: linear-gradient(95.41deg, #2c0aff -0.18%, #eb00ff 99.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.profileContainer {
}
