.quoteMain {
  width: 90%;
  margin: 0 auto;
  display: block;
  justify-content: center;
}

.quoteBox {
  background-color: #161616;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
  justify-content: center;
  width: 100%;
}

.quoteTop {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  padding: 0.6rem 0.9rem 0.9rem 0.9rem;
}

.quoteBottom {
  display: flex;
  justify-content: center;
  color: white;
  background: linear-gradient(128.51deg, #001aff 9.11%, #ff0a9d 89.13%);
  border-radius: 25px;
  padding: 1rem;
}

.quoteBottom span {
  font-size: 1.5rem;
}

.quoteBottom textarea {
  border: none;
  background: transparent;
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 1.1rem;
  color: white;
  height: auto;
  font-family: "Montserrat", sans-serif;
}
